<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">Jack-Schema.org</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/tga/">Start Up Weekend</a>
      <a class="nav-item nav-link" href="/launch/">Opening Launch</a>
    </div>
  </div>
</nav>