<style>
    #Inner {
        width: 906px;
        margin: auto;
        text-align: center;
    }

    h1 {
        font-family: Product Sans;
        font-size: 55px;
    }


    h4 {
        font-family: Roboto;
        font-weight: 200;
        font-size: 18px;
        margin: 10px 10px 5px;

    }

    h2 {
        font-weight: 400;
        font-size: 20px;
    }

    h5 {
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        font-style: italic;
        margin: 5px 10px 20px;
    }

    h6 {
        font-family: Roboto;
        font-weight: 200;
        font-size: 14px;
        color: grey;
        margin: 5px;
        text-align: center;
    }

    blockquote {
        font-size: 18px;
        font-family: Roboto;
        font-style: italic;
        padding-left: 1em;
        color: rgb(68, 67, 67);
        border-left: 2px solid rgb(83, 83, 83);
        background-color: rgb(240, 240, 240);
        line-height: 1.6;
        font-weight: 400;
    }

    #content {
        text-align: left;
        font-family: Roboto;
        font-weight: 300;
    }

    .boxed {
        clear: both;
        margin: 10px 3%;

    }

    nav.navbar {
        background-color: rgb(255, 255, 255);
    }

    .center {
        width: 60%;
        margin-top: auto;
        margin-bottom: auto;
        box-shadow: 10px 10px 5px rgb(187, 187, 187);
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 10px 10px 5px rgb(187, 187, 187);
    }

    .Videowrapper video {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        background-color: black;

    }

    .alert {
        margin-top: 10px;
        margin-bottom: auto;
        font-weight: 200;
        box-shadow: 10px 10px 5px rgb(219, 219, 219);
        color: white;
        text-align: center;
        background-color: rgb(146, 146, 146);
    }

    .alert-text{
        margin-top: 10px;
    }

    .data_container{
        margin-top: 50px;
        font-family: roboto;
        font-weight: 200;
    }

    #footerline {
        width: 55%;
    }

    .img-thumbnail{
        width: 200px;
        height: auto;
        margin-right: 10px;
    }
</style>